.centrar{
    display:flex;
    justify-content: center;
    align-items: center ;
.box{
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #919197;
  float: left;
  display: flex;
  justify-content: space-between;
  background-color: #F7FAFC;
  border-radius: 10px;
  width: 60%;
  height: 80px;

    .item1{
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: 60px;
        margin-right: 100px;
    }

    .location{
        display:flex;
        cursor: pointer;
        flex-direction: column;
        margin-left: 10px;
    }   
    .icon{
        display: flex;
        align-items: center;
    }
    button{
        display: flex;
        cursor: pointer;  
        margin-right: 60px;
        border-radius: 10px;
        background-color: #E2E8F0;
        margin-top: 28px;
        }
    }
}