.createUsertest{
    display: flex;
    background-color: #212337;
    width: 70%;
    height: 100%;
    margin-right: 5%;
    margin-top: 7%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.createUserF{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.userField{
    margin-bottom: 25px;
    height: 32px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.textCreateUser{
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
}

.createUserB{
    width: 25%;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}

.createUserB:hover{
    background-color: rgb(0, 197, 0);
}

.file{
    margin-bottom: 20px;
}

.useSelect{
    text-align: center;
    width: 70%;
    border-radius: 10px;
    font-size: 12px;
    height: 40px;
}
