@media(max-width:740px) {
    .options{
        display: none;
    }
    .name{
        display: none;
    }
}

@media(min-width:740px) {
    .optionsMenu{
        display: none;
    }
}


.right{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;

    .name{
        text-decoration: none;  
        color: black;
        font-size: 18px;
        font-weight: bold;
        margin-left: 60px;
    }
    
    a{
        margin-right: 30px;
        text-decoration: none;
        color: black;
    }

    .options{
        margin-right: 40px;
    }
}

.nameMenu{
    text-decoration: none;  
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 60px;
}

.flexMenuItems{
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    align-items: center;
    margin-top: 20px;
}
