.doubleButton{
    display: flex;
    margin-top: 10px;
}

.changeUser{
    background-color: green;
    width: 95px;
    height: 30px;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    font-weight: bold;   
    cursor: pointer;
}

.deleteUser{
    background-color: red;
    width: 95px;
    height: 30px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

 .changeUser:hover{
    background-color: rgb(2, 206, 2);
 }

 .deleteUser:hover{
    background-color: rgb(250, 90, 90);
 }