.click{
    cursor: pointer;
}

.passF{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
}

.passReset{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 14px;
    font-family: sans-serif;
}

.send{
    border-radius: 10px;
    width: 90px;
    height: 30px;
    margin-top: 10px;
    background-color: #e5ebf5;
    border:none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

.forgotPasswordTxt{
    text-align: center;
}